body{
    background-color: burlywood;
}
#s{

    padding: 13px 12px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: red;
    transition: 0.15s;
}
#s:hover{
    opacity: 0.7;
}
#s:active{
    opacity: 0.4;
}
#j{
    padding: 12px 19px;
    color: blue;
    border: 1px solid blue;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 5px;
    transition: 0.15s;
}
#j:hover{
    background-color: blue;
    color: white;
}
#j:active{
    opacity: 0.7;
}
#t{
    padding: 12px 30px;
    background-color: rgb(0, 93, 199);
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    transition: 0.15s;
}
#t:hover{
    box-shadow: 1px 1px 3px black;
}
#uber{
    padding: 12px 25px;
    border: none;
    background-color: black;
    color: white;
}
#uber:hover{
    opacity: 0.8;
}
#amazon{
    padding: 8px 40px;
    background-color: rgb(241, 217, 0); 
    color: black;
    border: none;
    border-radius: 15px;
}
#amazon:hover{
    background-color: rgb(243, 205, 38);
}
#github{
    padding: 12px 25px;
    background-color: rgba(16, 194, 16, 0.966);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
#github:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}
#boot{
   
    padding: 12px 25px;
    background-color: rgba(128, 0, 128, 0.836);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
#boot:hover{
    background-color: rgba(128, 0, 128, 1);
}
#boots{
    
    padding: 12px 25px;
    font-weight: bold;
    color: rgb(64, 65, 66);
    border: 0.5px solid black;
    border-radius: 3px;
}
#boots:hover{
    background-color: grey;
    color: white;
    border: none;
}
#link{
   
    padding: 12px 20px;
    background-color: rgb(0, 88, 252);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}
#link:hover{
    background-color: rgb(0, 61, 175);
}
#linki{
    padding: 12px 35px;
    border-radius: 20px;
    color: rgb(0, 88, 252);
    font-weight: bold;
    border: 1px solid rgb(0, 88, 252);
}
#linki:hover{
    background-color: rgba(126, 168, 247, 0.3);
}
#you{
    background-color: white;
    border: none;
    color: black;
    padding: 12px 25px;
    border-radius: 20px;
    font-weight: 500;
}